.frame{
      display: flex;
  margin-top: 70px;
 height: 620px;
  width: 80%;
justify-content: center;

 flex-direction: column;
 list-style: none;
  border-radius: 10px;
   overflow-y:hidden ;
background-color: 	none;
  

  
}


.list-Big{
   display: flex;

align-items: center;

flex-direction: row;
  

 list-style: none;
 margin: 0;
 padding: 0;
 



}

.game-card2 {

height: 100%;
}
.frame h2 {
  margin: 0; 
  padding: 0; 
}
.cover-img2{
 height: 300px;
  width: 220px;
  border-radius: 10px;
  margin: 10px;
  transition: transform 2s;
}
.cover-img2:hover{
  transform: scale(1.1);
}
.game-card2 p {
  margin: 0;
  padding: 0;
}
.title2{
    color:#000000;
    padding: 10px;
    font-size: large;
    text-wrap: balance;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    cursor: pointer;
}