.card-frame{
    margin-top: 70px;
    display: flex;
    width:200px;
    height:300px;
    border-radius: 10px;
    background-color:rgba(241, 103, 188, 0.034);
   flex-direction: column;
    justify-content: center;
    align-items: center;
}
.cover-img{
    height: 200px;
    width: 160px;
    margin-top: 50px;
    border-radius: 10px;
}