.discover-section{
    display:flex;
    flex-direction: column;

}
.dropdown-row{
    display:flex;
   flex-direction: row;
   align-items: flex-start;
   justify-content:flex-start;
   margin-left:27px;
 

}