.div-frame{
  display: flex;
  margin-top: 89px;
  height: 355px;
  background-color: rgba(255, 255, 255, 0.082);
  border-radius: 10px;
  justify-content: center;

}
.title-text {
  background: linear-gradient(
    90deg,
    rgba(242, 112, 156, 1) 0%,
    rgba(140, 166, 219, 1) 100%
   
  );
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
    text-wrap: balance;
     max-width: 1000px;
       text-align: center;
}