.list-frame{
    display:flex;
    justify-content:flex-start;
    align-items:center;
    margin-left:100px;
    margin-right:100px;
  
     background-color:rgba(44, 3, 90, 0.1);
    height:200px;
    width:100%;
    border-radius:15px;
}
.list{
    display:flex;
    list-style:none;
    padding: 0;
  margin: 0;
  gap: 1rem;
}