.item-wrapper{
    display:flex;
    background-color: rgb(0, 0, 0);
    height: 100vh;
    flex-direction: column;
}

.main-info-1{
    background-color: rgba(255, 255, 255, 0.11);
    height: 600px;
    width: 100%;
}
.main-details{
    background-color: rgba(255, 255, 255, 0.082);
    min-height: 600px;
    display: grid;
     grid-template-areas:"header-left header-middle header-right"
                       "upper-mid-L upper-mid-C upper-mid-R"
                       "mid-Left mid-center mid-right"
                       "bottom-left bottom-mid bottom-right" ;
                         grid-template-columns: 400px 1fr 1000px;
}
.img-frame{
   margin-top: 40px;
    height: 400px;
    width: 400px;
    grid-area: upper-mid-L;
    margin-left: 200px;
    border-radius: 15px;
}
.image-itself{
   width: 100%;
   height: 100%;
   object-fit: cover;
     border-radius: 15px;
}

.game-title-1{
    grid-area:upper-mid-L;
    color:rgb(253, 253, 253);
    margin-left:700px;
    margin-top: 60px;
    font-size:40px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.p-wrapper{
   margin-left: 300px;
    grid-area: upper-mid-C;
    background-color: rgba(255, 255, 255, 0.116);
    height: 200px;
    width: 800px;
    margin-top: 180px;
    margin-left:300px;
    border-radius: 10px;
}
.game-description{
   margin-left: 40px;
   color: aliceblue;
   font-size: 20px;
     font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  
    
}

.game-studio-name{
    grid-area:upper-mid-L;
    margin-left:700px;
    margin-top: 110px;
    width: 1000px;
       color: aliceblue;
   font-size: 20px;
     font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}