.search-container{
    display: flex;
   justify-content: space-between;
   align-items: center;
   
}


.search-icon{
    flex:2;
    height: 30px;
    width: auto;
    margin-top:10px;
   
}
.input-field{
    display: flex;
  border: solid;
border-radius: 10px;
border-color:#8c9ea1;
background:none;
width: 500px;
height:30px;
    
}
.input-field::placeholder {
  color: #8c9ea1;          
  opacity: 1;         
}
input{
    color:white;
}
.profile-icon{
    display: flex;
    justify-content: flex-end;
    height: 30px;
    width: auto;
   
}
.search-elements{
    flex:2;
    display: flex;
    align-items: center;
    justify-content: center;
   
}
.logo{
    height:100px;
    width:100px;
}