.header-container{
    display: flex;
    width:100%;
   justify-content: center;
   height:80px;
   align-items: center;
   
   
}
.header-wrapper{
    display: flex;
    align-items: center;
    padding-right: 80px;
  padding-left: 80px;
    justify-content: space-between;
background-color: #E10086;
box-shadow: 30px 70px #00DB96;

   
}


.link{
    margin: 10px;
    text-decoration: none;
    color: #49297E;
    font-size: larger;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}




.nav-items{
    margin: 10px;
}