.header-container{
    display: flex;
    width:100%;
   justify-content: center;
   height:80px;
   align-items: center;
   
   
}
.header-wrapper{
    display: flex;
    align-items: center;
    padding-right: 80px;
  padding-left: 80px;
    justify-content: space-between;
     background: #F2709C;
background: linear-gradient(90deg, rgba(242, 112, 156, 1) 0%, rgba(140, 166, 219, 1) 100%);
   
}



.search-text{
    color:#DDFF7E;
    padding: 10px;
    font-size: large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    cursor: pointer;
}
.arrow-down{
    color:#DDFF7E;
    cursor: pointer;
    
}

.dropdown-button{
 background-color: transparent;
 border-radius: 100px;
 border: none;
 font-size: large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.login-button{
    background-color: black;
    height: 48px;
    width: 98px;
   border-radius: 9px;
   border-color: #DDFF7E;
}
