.listBig{
    display:flex;
width: 90%;
 flex-direction: row;
    list-style: none;
    flex-wrap: wrap;
    gap: 10px;
        background: linear-gradient(
    90deg,
    rgba(242, 112, 156, 1) 0%,
    rgba(140, 166, 219, 1) 100%
   
  );
  border-radius: 30px;
  margin-top: 100px;
  align-items: center;
  justify-content: center;
 

}
.list-wrapperBig{
   align-items: center;
   justify-content: center;
 

       display:flex;
  
}
.game-card{

    display: flex;
    align-items: center;
   
    width: 250px;

    

flex-direction: column;}

.title{
    
    color:#DDFF7E;
    padding: 10px;
    font-size: large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    cursor: pointer;
}