.navbar-list{
   
    list-style-type: none;
    padding: 0;
    margin-left: 30px;
   
    border-radius: 10px;
   background: none;
    height: 100vh;
}
.navbar-icon{
    width: 30px;
    height: auto;
 margin-top:100px ;
    border-radius: 7px;
    
   

}
.navbar-icon:hover{
    transform:scale(1.25);
    background-color:rgba(221, 27, 27, 1);
    
    
    
}