.list-frame{
    display:flex;
    justify-content:flex-start;
    align-items:center;
   
    margin-left: 100px;
    margin-right: 100px;
  
  
     background-color:rgba(44, 3, 90, 0.1);
    height:300px;
  
     
   
    border-radius:15px;
 
}
.list-frame::-webkit-scrollbar {
  display: none;
}
.list{
    display:flex;
    list-style:none;
   
   overflow: scroll;
    padding: 0;
  margin: 0;
  gap: 1rem;
  scrollbar-width: none;
}
.cover-imge{
 width: 250px;
 height: 250px;
 object-fit: cover;
 border-radius: 200px;
   transition: transform 0.3s ease, box-shadow 0.3s ease;

}
.cover-imge:hover{
transform: scale(1.05);
}

p{
   color:#8c9ea1;
   font-size: 20px;
   margin-top: none;
   
}
h2{
   margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 50px;
  color: #8c9ea1;
}
.sub-title{

  display: flex;
  align-items: center;
  justify-content: space-between;

}
.see-all-btn{
 margin-right: 100px;
  color: #8c9ea1;
  background: none;
  border-radius: 10px;
}