
.box-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
}
    

html, body {
 
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  background-color: #C1C7CD;
  
}